@model dynamic

<!DOCTYPE html>

<html>
<head>
    <title>
        title
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td>
                    xxx
                </td>
                <td>
                    yyy
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

